Irudiak/ArduinoaSerie.json
[{"id":"38f2378d.d2fba8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dd9a8533.03d008","type":"function","z":"38f2378d.d2fba8","name":"T nodered2thingsboard","func":"var tenperatura=msg.payload;\nmsg.payload={\"tenperatura\":tenperatura}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":160,"wires":[["32483772.c04248"]]},{"id":"bd1a3c6.62891c","type":"inject","z":"38f2378d.d2fba8","name":"{\"latitude\": 43.2857847603304,\"longitude\":-2.1729491454317973}","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"latitude\": 43.2857847603304,\"longitude\":-2.1729491454317973}","payloadType":"json","x":280,"y":400,"wires":[["32483772.c04248"]]},{"id":"7296daf0.8d8f34","type":"inject","z":"38f2378d.d2fba8","name":"{\"egilea\":\"Taldea8\"}","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"egilea\":\"Taldea8\"}","payloadType":"json","x":440,"y":440,"wires":[["32483772.c04248"]]},{"id":"32483772.c04248","type":"mqtt out","z":"38f2378d.d2fba8","name":"","topic":"v1/devices/me/telemetry","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7062c39f.fcce2c","x":870,"y":300,"wires":[]},{"id":"e8772fd307781fe3","type":"serial in","z":"38f2378d.d2fba8","name":"Arduinoa","serial":"9f3b202936d0875f","x":60,"y":260,"wires":[["543c59e1905edfbd"]]},{"id":"543c59e1905edfbd","type":"split","z":"38f2378d.d2fba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":260,"wires":[["5b09cfb52bbdd999"]]},{"id":"5b09cfb52bbdd999","type":"function","z":"38f2378d.d2fba8","name":"Erase \" \" msg","func":"if (msg.payload != \"\"){\nreturn msg;}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":260,"wires":[["5b28303963148aa0"]]},{"id":"5b28303963148aa0","type":"json","z":"38f2378d.d2fba8","name":"","property":"payload","action":"","pretty":false,"x":490,"y":260,"wires":[["2d1e4c72a6761628"]]},{"id":"2d1e4c72a6761628","type":"switch","z":"38f2378d.d2fba8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"100","vt":"str"},{"t":"gte","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":260,"wires":[["272628d956f456ca"],["52a850fc44053a7f"]]},{"id":"272628d956f456ca","type":"range","z":"38f2378d.d2fba8","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"roll","round":true,"property":"payload","name":"","x":300,"y":160,"wires":[["dd9a8533.03d008"]]},{"id":"52a850fc44053a7f","type":"range","z":"38f2378d.d2fba8","minin":"100","maxin":"200","minout":"0","maxout":"100","action":"roll","round":true,"property":"payload","name":"","x":300,"y":340,"wires":[["9c758e83d075a811"]]},{"id":"9c758e83d075a811","type":"function","z":"38f2378d.d2fba8","name":"H nodered2thingsboard","func":"var hezetasuna=msg.payload;\nmsg.payload={\"hezetasuna\":hezetasuna}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":340,"wires":[["32483772.c04248"]]},{"id":"7062c39f.fcce2c","type":"mqtt-broker","name":"","broker":"demo.thingsboard.io ","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9f3b202936d0875f","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"1200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]
